# Created by .ignore support plugin (hsz.mobi)
### C template
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Others
\.idea
.vscode
.DS_Store
node_modules

# Rust

**/target
# **/Cargo.lock
**/.cargo/registry
**/.cargo/git

# Workspace specific

app/build
app/debug
app/bin
app/dep
app/obj

/build

app/glyphs/glyphs.*

tests_zemu/snapshots-tmp
app/output/*.apdu
app/output/*.sha256
app/pkg/*

app/rust/.cargo/.package-cache-mutate
app/hfuzz_corpus

app/rust/.cargo/.global-cache

fuzz/corpora/
fuzz/build/
fuzz/coverage/
fuzz/logs/
fuzz-*.log
fuzz/__pycache__