[package]
authors = ["Zondax GmbH <info@zondax.ch>"]
name = "rslib"
version = "0.1.0"
edition = "2018"
readme = "README.md"


[lib]
name = "rslib"
crate-type = ["staticlib", "rlib"]

[dependencies]
numtoa = "0.2.4"
arrayref = "0.3.6"

[dependencies.nom]
version = "5.1.2"
default-features = false

[dependencies.arrayvec]
version = "0.5.1"
default-features = false

[target.thumbv6m-none-eabi.dev-dependencies]
panic-halt = "0.2.0"

[dev-dependencies]
serde_json = "1.0.56"
hex = { version = "0.4", default-features = false }
serde = { version="1.0.110", features = ["derive"] }

[dependencies.sha2]
version = "0.9.1"
default-features = false

[profile.release]
lto=false
codegen-units = 1
debug=true
opt-level = "s"

[profile.dev]
panic = "abort"
