[build]

[target.'cfg(all(target_arch = "arm", target_os = "none"))']
rustflags = [
    "--emit", "asm",
	"-C", "relocation-model=ropi",
    "-C", "link-arg=-nostartfiles",
    "-C", "link-arg=-Tlink.ld",
    "-C", "llvm-args=--inline-threshold=0",
    "-C", "panic=abort"
]
[unstable]
build-std=["core"]

[target.'cfg(target_os = "linux")']
rustflags = [
    "-C",
    "link-arg=-Wl,--gc-sections",
    "-C",
    "link-arg=-Wl,--as-needed",
    "-C",
    "llvm-args=--inline-threshold=0",
]
